@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

/* Invitation Card Start */

.invitation-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.invitation-card img {
  max-width: 100%;
  margin-bottom: 20px;
}

.invitation-card h1 {
  font-size: 36px;
  margin-top: 0;
}

.invitation-card p {
  font-size: 18px;
  line-height: 1.5;
}

.invitation-card ul {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.invitation-card li {
  font-size: 18px;
  line-height: 1.5;
}

/* Invitation Card End */

/* Share Card Start */

.share-card {
  margin: 20px 0px;
}

.share-card .share-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.share-card .share-buttons a {
  background: black;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid white;
  text-decoration: none;
  cursor: pointer;
}

.share-card .share-buttons a i {
  font-size: 1.5rem;
}

/* Share Card Start */

/* Main Wrapper Start */

.wrapper {
  position: relative;
}

.wrapper .user-info p.user-name {
  position: absolute;
  bottom: 14.5%;
  left: 21.5%;
}

.wrapper .user-info p.user-occupation {
  position: absolute;
  bottom: 9.5%;
  left: 27.5%;
}

.wrapper .user-info p {
  color: white;
  margin: 0;
  padding: 0;
}

.wrapper .user-info p.user-occupation {
  margin-left: 10px;
}

.wrapper .user-avatar {
  height: 42%;
  width: 42%;
  position: absolute;
  top: 4.5%;
  left: 29%;
}

.wrapper .user-avatar img {
  border-radius: 50%;
}

/* Collecting Form Start */

.collecting-form input {
  max-width: 50%;
  width: 50%;
  margin: 20px 0px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.collecting-form input:focus {
  outline: 0;
}

.collecting-form input[type="submit"] {
  background: black;
  color: white;
  padding: 10px 50px;
  cursor: pointer;
}
/* Collecting Form End */


/* Main Wrapper End */

@media screen and (max-width: 600px) {
  .invitation-card {
    max-width: 100%;
  }
  .share-card .share-buttons a span {
    display: none;
  }
}
